# Librerías principales del script
requests==2.32.4
pydub==0.25.1
moviepy==2.0.0.dev2

# Dependencias clave para moviepy y vídeo
Pillow==9.5.0
numpy
decorator==4.4.2
tqdm==4.67.1
imageio==2.37.0
imageio-ffmpeg==0.6.0